.commentWrapper {
  background-color: white; /* Hvit bakgrunn */
  max-height: 150px;
  overflow-y: auto;
  border-radius: var(--radius);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--secondary);
  margin-bottom: 0.05rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0.1rem;
}

.commentContainer {
  border-radius: var(--radius);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--secondary);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  margin-top: 1rem;
}
