.title {
  color: var(--text);
}
.profileContainer {
  margin-top: 80px;
  padding: 20px;
}

.deleteButton {
  color: var(--foreground);
  background-color: var(--error);
  width: 20rem;

  &:hover {
    background-color: color-mix(in srgb, var(--error) 85%, white);
  }
}
