.module {
  word-wrap: break-word;
}

.quickinfo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: var(--text-secondary);
}

.title {
  margin-bottom: 1rem;
}

.quickinfoElement {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow-x: hidden;
}

.textArea {
  margin-top: 1.5rem;
}

.text {
  color: var(--text-secondary);
  white-space: pre-wrap;
}

.tags {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}
