.participant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;

  padding: 0.5rem;
  margin: 0.5rem 0;
  margin-right: 0.5rem;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--secondary);
}

.name {
  flex-grow: 1;
  margin-right: 0.25rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: color-mix(in srgb, var(--text-primary) 75%, white);
  }
}
