.quickinfo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: var(--text-secondary);
}

.title {
  margin-bottom: 1rem;
}

.quickinfoElement {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.textArea {
  margin-top: 1.5rem;
}

.text {
  color: var(--text-secondary);
}

.svg {
  width: 1.25rem;
  height: 1.25rem;
  filter: var(--svg-secondary-filter);
}
