.tagsContainer {
  margin-top: 20px;
  display: flex;
  gap: 6px;
}

.tag {
  background-color: var(--primary); /* Prøve farge*/
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  color: var(--foreground);

  &:hover {
    background-color: color-mix(in srgb, var(--primary) 85%, white);
  }
}
