:root {
  /* --background: #eef5f7;
  --foreground: #ffffff;
  --highlight: #b4b5b9;

  --text: #0d1112;
  --primary: #215f6e;
  --secondary: #75d3ea;
  --accent: #08abd4; */

  --background: #f6f4ff;
  --foreground: #f2efff;

  --text-primary: #111827;
  --text-secondary: #4b5563;

  --primary: #9b87f5;
  --secondary: #d5e5fd;
  --accent: #e8e3ff;

  --border: #dddddd;
  --shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --box-shadow: 0 0 #0000, 0 0 #0000, var(--shadow);

  --error: #c1554d;
  --success: #23a34a;
  --blue: #d6e1fa;
  --navbar: #ffffffcc;
  --highlight: #fde1d3;

  --radius: 0.5rem;
}

.dark {
  --background: #080f11;
  --foreground: #23272f;
  --highlight: #404756;

  --text: #edf1f2;
  --primary: #91cfde;
  --secondary: #15728a;
  --accent: #2bcff7;

  --border: #333333;
  --shadow: rgba(0, 0, 0, 0.4);

  --error: var(--error);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  color-scheme: light;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  background-image: linear-gradient(
    to bottom,
    var(--background),
    var(--foreground)
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
