.main {
  margin: 0 auto;
  margin-top: 7.5rem;
  max-width: 1024px;
}

.page {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtext {
  color: var(--text-secondary);
  margin: 1rem 0;
  max-width: 50%;
  text-align: center;
}
