.søkefelt {
  background-color: var(--foreground);
  border-radius: 7px;
  padding: 20px;
}

.button {
  margin: 10px 5px 0px 0px;
  padding: 10px 40px 10px 40px;

  border-radius: 5px;
  border: solid black 0.5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--background);
}

/*Hele output listen*/
.outputListe {
  list-style: none;
  border-top: solid black 1px;
  margin-top: 20px;
}

/*Et liste element (et arrangement) */
.outputEvent {
  border: solid black 1px;
  border-radius: 8px;
  background-color: var(--foreground);
  margin-top: 10px;
  overflow: auto;
  padding: 0px 10px 20px 5px;
  flex-direction: column; /* Sørger for at elementene legges under hverandre */
}

.outputEvent:hover{
    cursor: pointer;
    background-color: var(--background);
}

/*Hver enkelt tag*/
.outputTag {
  background-color: var(--primary);
  padding: 0.3rem 0.75rem;
  border-radius: calc(var(--radius) * 2);
  cursor: pointer;
  color: var(--foreground);
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

/*<p> med lokasjon*/
.outputLocation{
    margin: 10px 0px 10px 0px;
}