.container {
  background-color: var(--foreground);
  border-radius: 7px;
  padding: 20px;
}

.button {
  margin: 10px 5px 0px 0px;
  padding: 10px 40px 10px 40px;

  border-radius: 5px;
  border: solid black 0.5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--background);
}

/*Hele output listen*/
.outputListe {
  list-style: none;
  border-top: solid black 1px;
  margin-top: 20px;
}

/*Et liste-element (et arrangement) */
.outputEvent {
  display: flex;
  border: solid black 0.5px;
  border-radius: 8px;
  background-color: var(--foreground);
  margin-top: 10px;
  overflow: auto;
  padding: 5px 10px 20px 5px;
  flex-direction: column; /* Sørger for at elementene legges under hverandre */
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.2);
}

.outputEvent:hover {
  cursor: pointer;
  background-color: var(--background);
}

/*Div med alle tags*/
.tagDiv {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/*Hver enkelt tag*/
.outputTag {
  background-color: var(--primary);
  padding: 0.3rem 0.75rem;
  margin-right: 5px;
  border-radius: calc(var(--radius) * 2);
  color: var(--foreground);
  /*align-items: center;*/
  /*width: fit-content;*/
}

/*<p> med lokasjon*/
.outputLocation {
  margin: 10px 0px 10px 0px;
}
