.wrapper {
  font-family: Arial, sans-serif;
  background-color: var(--background);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text);
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: var(--foreground);
  box-shadow: 0 4px 8px var(--shadow);
  border-radius: 8px;
}
