.participant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
  margin: 0.5rem 0;
  margin-right: 0.5rem;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--secondary);
}

.name {
  flex-grow: 1;
  margin-right: 0.25rem;
  border-right: 1px solid var(--secondary);
  font-size: 0.8rem;
  font-weight: bold;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;
  border-radius: var(--radius);
  cursor: pointer;

  &:hover {
    background-color: color-mix(in srgb, var(--error) 50%, white);
  }
}
