.module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.6rem 0.75rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.input {
  width: 100%;
  border: none;
  outline: none;
}
