.page{
    background-color: var(--background);
    display: flex;
    justify-content: center;  /* Sentrerer innholdet horisontalt */
    align-items: center;      /* Sentrerer innholdet vertikalt */
    height: 100vh;
}

.container{
    background-color: var(--foreground);
    width: 50vw;
    height: 40vh;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Gir en liten skygge */
    border-radius: 20px; /* Gjør hjørnene litt avrundet */
}